@using System.Security.Claims

@{
    ViewData["Title"] = "Tech Trader";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.Identity.IsAuthenticated)
{
    <h2>Greetings @User.Identity.Name</h2>
    <p>@Html.ActionLink("Register as a Seller", "Create", "Seller")</p>
}