.container {
  max-width: 960px;
  margin: 0 auto;
}

#return {
    color: white;
}

.button a:link {
    text-decoration: none;
    color: white;
}

.button a:visited {
    color: white;
}

.btn {
    margin-bottom: 1%;
}

li {
    list-style: none;
}

.logo {
    font-size: 1.8em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pull-right {
    font-size: 1.5em;margin-top: .22%;
}
