@model IEnumerable<TechTrader.Models.Post>
@{
    ViewData["Title"] = "Tech Trader";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="post-list">
    <h2>Available Tech</h2>
    <ul>
        @foreach (var techList in Model)
        {
            <li>@Html.DisplayFor(modelItem => techList.Title) | @Html.ActionLink("Details", "Details", new { id = techList.PostId })</li>
        }       
    </ul>
    <p class="btn btn-warning button">@Html.ActionLink("Add new Post", "Create")</p>
</div>